# 6장 19대 대선 결과 분석

In [65]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import platform
path="c:/Windows/Fonts/malgun.ttf"
from matplotlib import font_manager, rc

if platform.system() == "Darwin":
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print("sorry unknown system")
    
plt.rcParams['axes.unicode_minus'] = False

In [66]:
from selenium import webdriver
import time

In [67]:
driver = webdriver.Chrome('./driver/chromedriver')
driver.get('http://info.nec.go.kr/main/showDocument.xhtml?electionId=0000000000&topMenuId=VC&secondMenuId=VCCP09')

In [68]:
driver.find_element_by_id("electionType1").click()

In [69]:
driver.find_element_by_id("electionName").send_keys("제19대")

In [70]:
driver.find_element_by_id("electionCode").send_keys("대통령선거")

In [73]:
sido_list_raw = driver.find_element_by_xpath("""//*[@id="cityCode"]""")
sido_list = sido_list_raw.find_elements_by_tag_name("option")
sido_names_values = [option.text for option in sido_list]
sido_names_values = sido_names_values[2:]
sido_names_values

['서울특별시',
 '부산광역시',
 '대구광역시',
 '인천광역시',
 '광주광역시',
 '대전광역시',
 '울산광역시',
 '세종특별자치시',
 '경기도',
 '강원도',
 '충청북도',
 '충청남도',
 '전라북도',
 '전라남도',
 '경상북도',
 '경상남도',
 '제주특별자치도']

In [76]:
import re

def get_num(tmp):
    if type(tmp)=='int':
        tmp = float(re.split('\(', tmp)[0].replace(',',''))
    return tmp

In [77]:
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

wait = WebDriverWait(driver, 10)

def move_sido(name):
    element = driver.find_element_by_id("cityCode")
    element.send_keys(name)
    make_xpath = """//*[@id="searchBtn"]"""
    wait.until(EC.element_to_be_clickable((By.XPATH, make_xpath)))
    driver.find_element_by_xpath(make_xpath).click()

In [78]:
def append_data(df, sido_name, data):
    for each in df[0].values[1:]:
        data['광역시도'].append(sido_name)
        data['시군'].append(each[0])
        data['pop'].append(get_num(each[2]))
        data['moon'].append(get_num(each[3]))
        data['hong'].append(get_num(each[4]))
        data['ahn'].append(get_num(each[5]))

In [79]:
election_result_raw = {'광역시도':[],
                       '시군': [],
                       'pop': [],
                       'moon': [],
                       'hong': [],
                       'ahn': [] }

In [80]:
election_result_raw

{'광역시도': [], '시군': [], 'pop': [], 'moon': [], 'hong': [], 'ahn': []}

In [81]:
from bs4 import BeautifulSoup

In [82]:
for each_sido in sido_names_values:
    move_sido(each_sido)
    
    html = driver.page_source
    soup = BeautifulSoup(html, "html.parser")
    table = soup.find("table")
    
    df = pd.read_html(str(table))
    
    append_data(df, each_sido, election_result_raw)

102566
42,512(41.59)
22,325(21.84)
22,313(21.83)
82852
34,062(41.23)
17,901(21.67)
19,372(23.45)
148157
58,081(39.33)
35,230(23.85)
32,109(21.74)
203175
86,686(42.80)
40,566(20.03)
45,674(22.55)
240030
105,512(44.10)
46,368(19.38)
52,824(22.08)
236092
98,958(42.06)
51,631(21.94)
53,359(22.68)
265706
111,450(42.09)
56,545(21.35)
62,778(23.71)
295866
129,263(43.82)
57,584(19.52)
66,518(22.55)
210614
89,645(42.70)
42,268(20.13)
51,669(24.61)
229233
94,898(41.55)
47,461(20.78)
55,600(24.34)
374213
158,167(42.41)
67,590(18.12)
96,325(25.83)
317275
140,180(44.34)
60,109(19.01)
72,582(22.96)
212076
93,768(44.36)
40,513(19.16)
46,237(21.87)
256992
117,336(45.79)
46,547(18.16)
52,545(20.50)
310886
133,853(43.18)
60,814(19.62)
71,816(23.17)
397108
175,882(44.43)
76,601(19.35)
88,128(22.26)
278805
121,077(43.59)
59,194(21.31)
61,734(22.22)
155010
67,423(43.65)
31,106(20.13)
36,695(23.75)
248833
105,834(42.67)
53,615(21.61)
53,994(21.77)
276685
121,722(44.12)
54,431(19.73)
60,305(21.86)
351240
159,854(45.67)
59,914(17.11)
79,495(22.71)
292916
106,416(36.43)
74,891(25.63)
63,977(21.90)
365642
128,927(35.36)
97,639(26.78)
80,201(21.99)
441198
177,328(40.30)
98,549(22.40)
99,018(22.50)
297476
122,511(41.31)
65,893(22.22)
67,499(22.76)
28604
9,918(34.78)
10,684(37.47)
4,675(16.39)
71446
24,522(34.46)
26,360(37.04)
11,868(16.68)
58304
19,606(33.75)
22,188(38.20)
9,815(16.89)
78013
30,094(38.75)
25,345(32.63)
13,082(16.84)
246124
95,042(38.76)
79,545(32.44)
40,636(16.57)
181098
67,947(37.65)
59,616(33.03)
30,208(16.73)
181922
68,566(37.83)
59,137(32.63)
30,943(17.07)
203689
83,611(41.22)
61,175(30.16)
32,712(16.13)
266870
102,106(38.39)
80,904(30.42)
48,325(18.17)
94393
39,412(41.90)
26,556(28.23)
15,909(16.91)
211876
82,452(39.09)
65,252(30.93)
36,713(17.40)
164127
60,169(36.82)
54,418(33.30)
26,729(16.36)
68633
30,783(44.99)
18,711(27.34)
10,629(15.53)
137602
52,454(38.25)
44,221(32.25)
23,321(17.00)
119064
43,702(36.82)
39,832(33.56)
20,319(17.11)
149868
61,743(41.38)
46,540(31.19)
23,023(15.43)
52180
11,477(22.09)
24,698(47.54)
7,170(13.80)
226510
47,350(20.99)
100,166(44.41)
31,351(13.90)
127659
22,004(17.32)
68,782(54.15)
17,808(14.02)
100059
19,862(19.94)
50,304(50.51)
13,978(14.03)
276725
62,526(22.69)
121,368(44.05)
42,369(15.37)
285528
64,922(22.82)
123,074(43.26)
43,698(15.36)
374766
82,726(22.17)
165,781(44.43)
57,956(15.53)
137920
31,753(23.13)
60,032(43.73)
21,427(15.60)
69220
28,030(40.63)
16,139(23.39)
15,405(22.32)
44672
16,501(37.10)
11,446(25.73)
10,479(23.56)
254020
96,338(38.07)
60,603(23.95)
61,034(24.12)
208175
85,853(41.38)
41,920(20.20)
48,166(23.21)
327425
136,132(41.73)
66,178(20.28)
77,693(23.81)
345398
146,859(42.68)
66,560(19.34)
82,590(24.00)
205824
88,890(43.35)
37,234(18.16)
48,622(23.71)
306672
132,399(43.32)
56,236(18.40)
72,248(23.64)
43938
12,153(27.86)
17,041(39.07)
9,559(21.91)
14747
3,935(27.02)
5,834(40.06)
3,092(21.23)
66287
37,053(56.05)
1,308(1.97)
23,438(35.45)
204787
124,183(60.76)
3,182(1.55)
62,218(30.44)
146037
85,642(58.82)
2,521(1.73)
47,663(32.73)
292001
177,850(61.06)
4,241(1.45)
88,501(30.38)
248209
159,119(64.27)
3,630(1.46)
65,402(26.42)
143823
57,580(40.21)
33,015(23.05)
34,729(24.25)
157397
62,115(39.62)
37,657(24.02)
37,504(23.92)
307774
133,604(43.56)
59,593(19.43)
70,732(23.06)
218087
103,313(47.51)
35,445(16.30)
47,081(21.65)
118816
47,933(40.52)
25,666(21.70)
28,723(24.28)
157051
56,657(36.25)
47,625(30.47)
26,458(16.93)
219569
80,662(36.89)
63,331(28.96)
39,040(17.85)
109054
44,931(41.42)
23,701(21.85)
19,290(17.78)
122933
52,058(42.53)
26,596(21.73)
20,115(16.43)
136353
48,486(35.75)
42,349(31.22)
23,617(17.41)
152801
77,767(51.08)
23,211(15.24)
32,010(21.02)
190917
81,392(42.79)
37,143(19.52)
43,344(22.78)
222078
95,263(43.05)
42,801(19.34)
51,061(23.07)
123458
49,814(40.50)
27,782(22.59)
28,228(22.95)
220307
105,181(47.88)
33,354(15.18)
46,872(21.33)
149414
63,867(42.90)
28,395(19.07)
36,752(24.69)
146801
62,729(42.89)
27,896(19.07)
36,512(24.96)
338076
139,853(41.47)
71,332(21.15)
74,040(21.95)
270404
110,580(41.03)
57,027(21.16)
65,003(24.12)
167995
70,454(42.08)
35,189(21.02)
38,671(23.10)
230674
101,278(44.03)
43,072(18.72)
51,966(22.59)
543777
239,697(44.23)
100,544(18.55)
128,297(23.67)
218795
97,959(44.91)
39,081(17.91)
51,958(23.82)
273677
104,574(38.37)
62,827(23.05)
64,057(23.50)
121344
46,286(38.33)
29,739(24.63)
28,469(23.58)
55487
19,444(35.22)
15,733(28.50)
12,808(23.20)
226266
98,564(43.74)
39,723(17.62)
55,067(24.43)
187253
80,771(43.30)
33,862(18.15)
45,779(24.54)
287087
120,063(41.95)
55,157(19.27)
61,581(21.51)
188297
81,622(43.47)
34,980(18.63)
41,166(21.92)
192610
85,919(44.73)
35,147(18.29)
41,563(21.63)
40789
16,528(40.64)
9,055(22.26)
8,736(21.48)
103913
43,869(42.36)
21,218(20.48)
23,602(22.79)
123469
51,181(41.59)
26,113(21.22)
28,698(23.32)
397972
165,079(41.61)
86,026(21.68)
92,048(23.20)
118683
52,358(44.29)
21,829(18.46)
27,201(23.01)
386002
176,940(45.99)
69,014(17.93)
84,967(22.08)
239227
103,732(43.52)
43,248(18.14)
58,119(24.38)
186084
82,551(44.50)
34,784(18.75)
41,883(22.57)
138937
57,298(41.38)
31,793(22.96)
30,999(22.39)
256847
107,148(41.88)
55,347(21.63)
54,921(21.46)
65695
20,474(31.32)
21,581(33.01)
14,545(22.25)
121841
44,109(36.39)
33,301(27.47)
26,695(22.02)
134872
50,423(37.56)
33,153(24.69)
32,027(23.86)
225513
95,325(42.36)
50,229(22.32)
47,125(20.94)
261414
116,017(44.49)
53,405(20.47)
55,393(21.24)
106490
39,380(37.14)
26,693(25.17)
25,193(23.76)
225075
93,697(41.75)
48,490(21.61)
51,081(22.76)
199221
80,175(40.38)
45,030(22.68)
46,829(23.59)
90620
27,632(30.67)
28,030(31.11)
22,505(24.98)
28675
8,384(29.46)
9,557(33.59)
6,805(23.91)
71056
21,329(30.18)
24,800(35.09)
15,653(22.14)
38897
10,873(28.17)
13,865(35.93)
9,089(23.55)
175879
66,874(38.18)
43,494(24.83)
38,684(22.09)
204233
77,495(38.10)
50,750(24.95)
45,776(22.50)
132395
41,565(31.55)
44,421(33.72)
26,895(20.41)
55542
17,184(31.09)
19,009(34.39)
11,345(20.52)
44097
13,496(30.81)
15,971(36.46)
8,185(18.68)
28101
9,557(34.19)
10,046(35.94)
4,971(17.78)
23859
8,270(34.88)
8,323(35.10)
4,489(18.93)
46985
15,045(32.16)
13,883(29.67)
11,031(23.58)
18692
5,664(30.58)
6,511(35.15)
3,964(21.40)
17853
5,017(28.29)
6,687(37.70)
3,868(21.81)
20751
6,574(32.00)
6,009(29.25)
4,759(23.16)
43648
13,851(31.94)
13,549(31.24)
10,023(23.11)
29447
8,833(30.16)
10,423(35.59)
6,479(22.12)
25925
8,067(31.28)
8,779(34.04)
5,753(22.31)
27444
8,591(31.48)
9,348(34.26)
5,998(21.98)
17083
5,161(30.55)
5,019(29.71)
4,000(23.68)
14848
4,526(30.81)
4,250(28.93)
3,519(23.96)
29103
8,998(31.21)
8,437(29.26)
7,101(24.63)
106316
42,308(39.97)
27,108(25.61)
21,983(20.76)
134980
56,521(42.03)
30,471(22.66)
28,912(21.50)
153064
66,281(43.49)
31,023(20.35)
32,756(21.49)
115327
50,487(43.94)
24,026(20.91)
24,203(21.06)
127426
43,551(34.35)
38,532(30.39)
28,588(22.54)
84700
28,517(33.86)
26,977(32.03)
17,768(21.09)
19905
5,708(28.85)
7,901(39.94)
4,026(20.35)
32554
10,432(32.25)
10,958(33.87)
7,017(21.69)
22341
7,268(32.76)
7,587(34.20)
4,910(22.13)
33175
11,181(33.94)
10,431(31.67)
7,465(22.66)
56788
20,723(36.73)
15,180(26.90)
13,381(23.71)
41255
15,844(38.61)
10,265(25.01)
9,489(23.12)
25824
7,876(30.67)
9,435(36.75)
5,830(22.70)
21786
8,109(37.45)
5,608(25.90)
5,126(23.67)
212329
94,202(44.53)
37,293(17.62)
47,891(22.63)
151132
59,695(39.67)
34,869(23.17)
34,933(23.21)
67018
25,036(37.58)
18,449(27.69)
15,814(23.73)
62825
20,674(33.13)
19,453(31.18)
15,428(24.72)
173795
73,461(42.45)
36,741(21.23)
38,368(22.17)
98859
37,376(37.99)
24,572(24.97)
23,237(23.62)
38740
12,881(33.48)
12,666(32.92)
8,940(23.23)
32968
11,182(34.17)
9,416(28.78)
8,787(26.85)
72434
28,265(39.23)
16,948(23.52)
18,844(26.15)
26530
9,566(36.20)
6,261(23.69)
6,722(25.44)
95417
37,191(39.15)
23,597(24.84)
20,852(21.95)
43288
13,492(31.37)
13,761(32.00)
11,022(25.63)
34889
12,554(36.20)
9,891(28.52)
8,744(25.21)
59645
21,021(35.43)
16,682(28.11)
14,251(24.02)
20667
6,185(30.12)
7,104(34.59)
5,140(25.03)
49668
13,880(28.10)
18,911(38.29)
11,243(22.76)
236383
157,637(66.89)
7,003(2.97)
50,506(21.43)
187921
125,375(66.89)
5,183(2.76)
40,188(21.44)
172330
109,379(63.65)
6,360(3.70)
42,387(24.66)
192208
123,422(64.45)
6,470(3.37)
45,737(23.88)
73678
45,894(62.61)
2,175(2.96)
20,111(27.43)
55371
35,539(64.51)
1,939(3.52)
13,854(25.15)
57886
35,870(62.32)
2,052(3.56)
15,880(27.59)
62470
41,057(65.97)
2,107(3.38)
13,897(22.33)
18107
11,918(66.17)
819(4.54)
3,904(21.67)
17019
10,381(61.36)
1,225(7.24)
3,998(23.63)
16079
10,714(67.06)
717(4.48)
3,353(20.98)
20381
12,893(63.74)
771(3.81)
5,009(24.76)
20126
12,309(61.52)
688(3.43)
5,624(28.10)
39188
23,877(61.38)
1,215(3.12)
11,182(28.74)
36647
22,482(61.72)
1,507(4.13)
9,837(27.00)

145476
77,896(53.73)
2,584(1.78)
53,303(36.77)
185487
117,586(63.63)
4,281(2.31)
50,228(27.18)
181451
122,595(67.81)
4,525(2.50)
40,429(22.36)
71599
43,967(61.76)
1,448(2.03)
21,011(29.51)
96384
63,544(66.15)
4,100(4.26)
20,080(20.90)
33020
19,961(60.80)
698(2.12)
10,017(30.51)
30670
17,378(56.93)
851(2.78)
10,167(33.31)
21247
12,152(57.73)
624(2.96)
6,850(32.54)
18924
11,873(63.11)
628(3.33)
5,188(27.57)
47036
26,882(57.66)
1,349(2.89)
15,614(33.49)
29967
16,666(55.96)
732(2.45)
10,514(35.30)
43572
25,867(59.68)
770(1.77)
13,832(31.91)
27149
14,821(54.91)
636(2.35)
9,593(35.54)
25175
12,476(49.89)
753(3.01)
10,152(40.59)
34886
20,945(60.54)
762(2.20)
11,021(31.85)
48351
25,901(53.94)
1,158(2.41)
18,157(37.81)
21189
10,392(49.46)
511(2.43)
8,855(42.14)
36402
18,999(52.52)
825(2.28)
13,610(37.62)
52516
29,516(56.48)
983(1.88)
18,052(34.54)
35919
20,595(57.66)
819(2.29)
11,675(32.68)
23368
13,539(58.35)
471(2.03)
7,831(33.75)
28950
14,370(49.98)
713(2.48)
12,000(41.74)
171444
38,629(22.63)
77,138(45.19)
26,901(15.76)
150740
34,808(23.21)
66,319(44.23)
24,728(16.49)
6810
1,443(21.33)
3,520(52.03)
973(14.38)
167296
38,092(22.89)
80,090(48.14)
23,898(14.36)
92184
22,255(24.30)
43,998(48.04)
12,803(13.98)
107357
23,121(21.68)
52,978(49.68)
15,461(14.49)
246638
62,573(25.50)
98,732(40.24)
41,141(16.77)
70861
15,280(21.70)
34,504(49.01)
10,444(14.83)
66091
12,250(18.67)
35,328(53.86)
9,175(13.98)
67717
12,356(18.36)
38,171(56.73)
9,392(13.96)
49113
8,616(17.65)
27,832(57.03)
6,905(14.15)
32124
5,261(16.52)
18,863(59.23)
4,427(13.90)
160794
35,602(22.26)
72,129(45.11)
24,606(15.39)
30398
5,323(17.65)
17,678(58.61)
3,654(12.11)
22396
3,754(16.90)
13,248(59.65)
2,600(11.70)
30070
5,409(18.10)
16,788(56.20)
3,586(12.00)
72006
16,872(23.56)
31,540(44.04)
11,340(15.83)
17627
2,251(12.83)
11,651(66.43)
1,939(11.05)
37855
5,365(14.27)
23,790(63.30)
4,767(12.68)
18418
3,218(17.58)
10,669(58.29)
2,387(13.04)
12048
2,281(19.08)
6,554(54.84)
1,701(14.23)
26125
3,786(14.61)
16,314(62.96)
3,231(12.47)
22947
4,209(18.47)
12,536(55.02)
3,370(14.79)
32568
6,972(21.55)
16,867(52.14)
4,476(13.83)
164047
60,757(37.22)
56,887(34.85)
22,830(13.98)
153327
63,717(41.74)
42,052(27.54)
22,923(15.01)
119281
35,592(29.99)
54,488(45.91)
14,686(12.37)
136757
45,014(33.07)
56,340(41.39)
17,744(13.03)
114779
41,249(36.11)
40,049(35.06)
17,435(15.26)
222813
73,929(33.35)
93,751(42.30)
26,687(12.04)
82855
25,477(30.94)
36,128(43.87)
10,738(13.04)
34603
9,848(28.67)
16,797(48.91)
4,104(11.95)
71555
22,370(31.47)
32,475(45.69)
8,350(11.74)
318253
147,972(46.72)
82,880(26.17)
45,126(14.24)
70687
20,842(29.68)
32,394(46.14)
9,073(12.92)
150230
68,291(45.71)
38,775(25.95)
20,359(13.62)
19258
5,115(26.85)
10,134(53.21)
1,984(10.41)
43866
13,597(31.21)
19,809(45.48)
5,399(12.39)
42878
10,310(24.28)
24,464(57.63)
3,877(9.13)
199835
83,412(41.94)
58,811(29.57)
30,945(15.55)
34324
11,211(33.00)
14,864(43.76)
4,150(12.21)
30208
8,680(29.00)
14,166(47.33)
3,906(13.05)
26640
7,388(28.02)
13,008(49.34)
3,203(12.14)
24513
6,561(27.00)
12,544(51.63)
2,753(11.33)
41325
11,256(27.48)
19,976(48.78)
4,923(12.02)
33021
7,143(21.83)
19,699(60.22)
3,077(9.40)
273163
125,717(46.25)
48,027(17.67)
55,971(20.59)
101296
43,776(43.50)
20,036(19.91)
21,890(21.75)

In [83]:
election_result = pd.DataFrame(election_result_raw, 
                               columns=['광역시도', '시군', 'pop', 'moon','hong','ahn'])
election_result

        광역시도        시군     pop            moon           hong            ahn
0      서울특별시       종로구  102566   42,512(41.59)  22,325(21.84)  22,313(21.83)
1      서울특별시        중구   82852   34,062(41.23)  17,901(21.67)  19,372(23.45)
2      서울특별시       용산구  148157   58,081(39.33)  35,230(23.85)  32,109(21.74)
3      서울특별시       성동구  203175   86,686(42.80)  40,566(20.03)  45,674(22.55)
4      서울특별시       광진구  240030  105,512(44.10)  46,368(19.38)  52,824(22.08)
5      서울특별시      동대문구  236092   98,958(42.06)  51,631(21.94)  53,359(22.68)
6      서울특별시       중랑구  265706  111,450(42.09)  56,545(21.35)  62,778(23.71)
7      서울특별시       성북구  295866  129,263(43.82)  57,584(19.52)  66,518(22.55)
8      서울특별시       강북구  210614   89,645(42.70)  42,268(20.13)  51,669(24.61)
9      서울특별시       도봉구  229233   94,898(41.55)  47,461(20.78)  55,600(24.34)
10     서울특별시       노원구  374213  158,167(42.41)  67,590(18.12)  96,325(25.83)
11     서울특별시       은평구  317275  140,180(44.34)  60,109(19.01)  72,582(22.96)
12     서울특별시      서대문구  212076   93,768(44.36)  40,513(19.16)  46,237(21.87)
13     서울특별시       마포구  256992  117,336(45.79)  46,547(18.16)  52,545(20.50)
14     서울특별시       양천구  310886  133,853(43.18)  60,814(19.62)  71,816(23.17)
15     서울특별시       강서구  397108  175,882(44.43)  76,601(19.35)  88,128(22.26)
16     서울특별시       구로구  278805  121,077(43.59)  59,194(21.31)  61,734(22.22)
17     서울특별시       금천구  155010   67,423(43.65)  31,106(20.13)  36,695(23.75)
18     서울특별시      영등포구  248833  105,834(42.67)  53,615(21.61)  53,994(21.77)
19     서울특별시       동작구  276685  121,722(44.12)  54,431(19.73)  60,305(21.86)
20     서울특별시       관악구  351240  159,854(45.67)  59,914(17.11)  79,495(22.71)
21     서울특별시       서초구  292916  106,416(36.43)  74,891(25.63)  63,977(21.90)
22     서울특별시       강남구  365642  128,927(35.36)  97,639(26.78)  80,201(21.99)
23     서울특별시       송파구  441198  177,328(40.30)  98,549(22.40)  99,018(22.50)
24     서울특별시       강동구  297476  122,511(41.31)  65,893(22.22)  67,499(22.76)
25     부산광역시        중구   28604    9,918(34.78)  10,684(37.47)   4,675(16.39)
26     부산광역시        서구   71446   24,522(34.46)  26,360(37.04)  11,868(16.68)
27     부산광역시        동구   58304   19,606(33.75)  22,188(38.20)   9,815(16.89)
28     부산광역시       영도구   78013   30,094(38.75)  25,345(32.63)  13,082(16.84)
29     부산광역시      부산진구  246124   95,042(38.76)  79,545(32.44)  40,636(16.57)
..       ...       ...     ...             ...            ...            ...
220     경상북도       의성군   37855    5,365(14.27)  23,790(63.30)   4,767(12.68)
221     경상북도       청송군   18418    3,218(17.58)  10,669(58.29)   2,387(13.04)
222     경상북도       영양군   12048    2,281(19.08)   6,554(54.84)   1,701(14.23)
223     경상북도       영덕군   26125    3,786(14.61)  16,314(62.96)   3,231(12.47)
224     경상북도       봉화군   22947    4,209(18.47)  12,536(55.02)   3,370(14.79)
225     경상북도       울진군   32568    6,972(21.55)  16,867(52.14)   4,476(13.83)
226     경상남도    창원시의창구  164047   60,757(37.22)  56,887(34.85)  22,830(13.98)
227     경상남도    창원시성산구  153327   63,717(41.74)  42,052(27.54)  22,923(15.01)
228     경상남도  창원시마산합포구  119281   35,592(29.99)  54,488(45.91)  14,686(12.37)
229     경상남도  창원시마산회원구  136757   45,014(33.07)  56,340(41.39)  17,744(13.03)
230     경상남도    창원시진해구  114779   41,249(36.11)  40,049(35.06)  17,435(15.26)
231     경상남도       진주시  222813   73,929(33.35)  93,751(42.30)  26,687(12.04)
232     경상남도       통영시   82855   25,477(30.94)  36,128(43.87)  10,738(13.04)
233     경상남도       고성군   34603    9,848(28.67)  16,797(48.91)   4,104(11.95)
234     경상남도       사천시   71555   22,370(31.47)  32,475(45.69)   8,350(11.74)
235     경상남도       김해시  318253  147,972(46.72)  82,880(26.17)  45,126(14.24)
236     경상남도       밀양시   70687   20,842(29.68)  32,394(46.14)   9,073(12.92)
237     경상남도       거제시  150230   68,291(45.71)  38,775(25.95)  20,359(13.62)
238     경상남도       의령군   19258    5,115(26.85)  10,134(53.21)   1,984(10.41)
239     경상남도       함안군   43866   13,597(31.21)  19,809(45.48)   5,399(12.39)
240     경상남도       창녕군   42878   10,310(24.28)  24,464(57.63)    3,877(9.13)
241     경상남도       양산시  199835   83,412(41.94)  58,811(29.57)  30,945(15.55)
242     경상남도       하동군   34324   11,211(33.00)  14,864(43.76)   4,150(12.21)
243     경상남도       남해군   30208    8,680(29.00)  14,166(47.33)   3,906(13.05)
244     경상남도       함양군   26640    7,388(28.02)  13,008(49.34)   3,203(12.14)
245     경상남도       산청군   24513    6,561(27.00)  12,544(51.63)   2,753(11.33)
246     경상남도       거창군   41325   11,256(27.48)  19,976(48.78)   4,923(12.02)
247     경상남도       합천군   33021    7,143(21.83)  19,699(60.22)    3,077(9.40)
248  제주특별자치도       제주시  273163  125,717(46.25)  48,027(17.67)  55,971(20.59)
249  제주특별자치도      서귀포시  101296   43,776(43.50)  20,036(19.91)  21,890(21.75)

[250 rows x 6 columns]

In [84]:
election_result.to_csv('../data/05. election_result_ted.csv', encoding='utf-8', sep=',')

In [85]:
driver.close()

# 결과보기

In [109]:
election_result = pd.read_csv('../data/05. election_result.csv', encoding='utf-8', index_col=0)

election_result.head()

    광역시도   시군       pop      moon     hong      ahn
0  서울특별시  종로구  102566.0   42512.0  22325.0  22313.0
1  서울특별시   중구   82852.0   34062.0  17901.0  19372.0
2  서울특별시  용산구  148157.0   58081.0  35230.0  32109.0
3  서울특별시  성동구  203175.0   86686.0  40566.0  45674.0
4  서울특별시  광진구  240030.0  105512.0  46368.0  52824.0

In [110]:
sido_candi = election_result['광역시도']
sido_candi = [name[:2] if name[:2] in ['서울', '부산', '대구', '광주', '인천', '대전', '울산']
                else '' for name in sido_candi]

In [111]:
def cut_char_sigu(name):
    return name if len(name) ==2 else name[:-1]

In [112]:
import re
sigun_candi = ['']*len(election_result)

for n in election_result.index:
    each = election_result['시군'][n]
    if each[:2] in ['수원', '성남', '안양', '안산', '고양',
                    '용인', '청주', '천안', '전주', '포항','창원']:
        sigun_candi[n] = re.split('시', each)[0] + ' ' + \
            cut_char_sigu(re.split('시', each)[1])
    else:
        sigun_candi[n] = cut_char_sigu(each)
        
sigun_candi

['종로',
 '중구',
 '용산',
 '성동',
 '광진',
 '동대문',
 '중랑',
 '성북',
 '강북',
 '도봉',
 '노원',
 '은평',
 '서대문',
 '마포',
 '양천',
 '강서',
 '구로',
 '금천',
 '영등포',
 '동작',
 '관악',
 '서초',
 '강남',
 '송파',
 '강동',
 '중구',
 '서구',
 '동구',
 '영도',
 '부산진',
 '동래',
 '남구',
 '북구',
 '해운대',
 '기장',
 '사하',
 '금정',
 '강서',
 '연제',
 '수영',
 '사상',
 '중구',
 '동구',
 '서구',
 '남구',
 '북구',
 '수성',
 '달서',
 '달성',
 '중구',
 '동구',
 '남구',
 '연수',
 '남동',
 '부평',
 '계양',
 '서구',
 '강화',
 '옹진',
 '동구',
 '서구',
 '남구',
 '북구',
 '광산',
 '동구',
 '중구',
 '서구',
 '유성',
 '대덕',
 '중구',
 '남구',
 '동구',
 '북구',
 '울주',
 '세종특별자치',
 '수원 장안',
 '수원 권선',
 '수원 팔달',
 '수원 영통',
 '성남 수정',
 '성남 중원',
 '성남 분당',
 '의정부',
 '안양 만안',
 '안양 동안',
 '부천',
 '광명',
 '평택',
 '양주',
 '동두천',
 '안산 상록',
 '안산 단원',
 '고양 덕양',
 '고양 일산동',
 '고양 일산서',
 '과천',
 '의왕',
 '구리',
 '남양주',
 '오산',
 '화성',
 '시흥',
 '군포',
 '하남',
 '파주',
 '여주',
 '이천',
 '용인 처인',
 '용인 수지',
 '용인 기흥',
 '안성',
 '김포',
 '광주',
 '포천',
 '연천',
 '양평',
 '가평',
 '춘천',
 '원주',
 '강릉',
 '동해',
 '삼척',
 '태백',
 '정선',
 '속초',
 '고성',
 '양양',
 '인제',
 '홍천',
 '횡성',
 '영월',
 '평창',
 '화천',
 '양구',
 '철원',
 '청주 상당',
 '청주 서원',
 '청주 흥덕',
 '청주 청원',
 '충주',
 '제천',
 '단양',
 '영동',
 '보은',
 '옥천',
 '음성',
 '진천',
 '괴산',
 '증평',
 '천안 서북',
 '천안 동남',
 '공주',
 '보령',
 '아산',
 '서산',
 '태안',
 '금산',
 '논산',
 '계룡',
 '당진',
 '부여',
 '서천',
 '홍성',
 '청양',
 '예산',
 '전주 완산',
 '전주 덕진',
 '군산',
 '익산',
 '정읍',
 '남원',
 '김제',
 '완주',
 '진안',
 '무주',
 '장수',
 '임실',
 '순창',
 '고창',
 '부안',
 '목포',
 '여수',
 '순천',
 '나주',
 '광양',
 '담양',
 '장성',
 '곡성',
 '구례',
 '고흥',
 '보성',
 '화순',
 '장흥',
 '강진',
 '완도',
 '해남',
 '진도',
 '영암',
 '무안',
 '영광',
 '함평',
 '신안',
 '포항 북구',
 '포항 남구',
 '울릉',
 '경주',
 '김천',
 '안동',
 '구미',
 '영주',
 '영천',
 '상주',
 '문경',
 '예천',
 '경산',
 '청도',
 '고령',
 '성주',
 '칠곡',
 '군위',
 '의성',
 '청송',
 '영양',
 '영덕',
 '봉화',
 '울진',
 '창원 의창',
 '창원 성산',
 '창원 마산합포',
 '창원 마산회원',
 '창원 진해',
 '진주',
 '통영',
 '고성',
 '사천',
 '김해',
 '밀양',
 '거제',
 '의령',
 '함안',
 '창녕',
 '양산',
 '하동',
 '남해',
 '함양',
 '산청',
 '거창',
 '합천',
 '제주',
 '서귀포']

In [113]:
ID_candi = [sido_candi[n] + ' ' + sigun_candi[n] for n in range(0, len(sigun_candi))]
ID_candi = [name[1:] if name[0] == ' ' else name for name in ID_candi]
ID_candi = [name[:2] if name[:2] == '세종' else name for name in ID_candi]

ID_candi

['서울 종로',
 '서울 중구',
 '서울 용산',
 '서울 성동',
 '서울 광진',
 '서울 동대문',
 '서울 중랑',
 '서울 성북',
 '서울 강북',
 '서울 도봉',
 '서울 노원',
 '서울 은평',
 '서울 서대문',
 '서울 마포',
 '서울 양천',
 '서울 강서',
 '서울 구로',
 '서울 금천',
 '서울 영등포',
 '서울 동작',
 '서울 관악',
 '서울 서초',
 '서울 강남',
 '서울 송파',
 '서울 강동',
 '부산 중구',
 '부산 서구',
 '부산 동구',
 '부산 영도',
 '부산 부산진',
 '부산 동래',
 '부산 남구',
 '부산 북구',
 '부산 해운대',
 '부산 기장',
 '부산 사하',
 '부산 금정',
 '부산 강서',
 '부산 연제',
 '부산 수영',
 '부산 사상',
 '대구 중구',
 '대구 동구',
 '대구 서구',
 '대구 남구',
 '대구 북구',
 '대구 수성',
 '대구 달서',
 '대구 달성',
 '인천 중구',
 '인천 동구',
 '인천 남구',
 '인천 연수',
 '인천 남동',
 '인천 부평',
 '인천 계양',
 '인천 서구',
 '인천 강화',
 '인천 옹진',
 '광주 동구',
 '광주 서구',
 '광주 남구',
 '광주 북구',
 '광주 광산',
 '대전 동구',
 '대전 중구',
 '대전 서구',
 '대전 유성',
 '대전 대덕',
 '울산 중구',
 '울산 남구',
 '울산 동구',
 '울산 북구',
 '울산 울주',
 '세종',
 '수원 장안',
 '수원 권선',
 '수원 팔달',
 '수원 영통',
 '성남 수정',
 '성남 중원',
 '성남 분당',
 '의정부',
 '안양 만안',
 '안양 동안',
 '부천',
 '광명',
 '평택',
 '양주',
 '동두천',
 '안산 상록',
 '안산 단원',
 '고양 덕양',
 '고양 일산동',
 '고양 일산서',
 '과천',
 '의왕',
 '구리',
 '남양주',
 '오산',
 '화성',
 '시흥',
 '군포',
 '하남',
 '파주',
 '여주',
 '이천',
 '용인 처인',
 '용인 수지',
 '용인 기흥',
 '안성',
 '김포',
 '광주',
 '포천',
 '연천',
 '양평',
 '가평',
 '춘천',
 '원주',
 '강릉',
 '동해',
 '삼척',
 '태백',
 '정선',
 '속초',
 '고성',
 '양양',
 '인제',
 '홍천',
 '횡성',
 '영월',
 '평창',
 '화천',
 '양구',
 '철원',
 '청주 상당',
 '청주 서원',
 '청주 흥덕',
 '청주 청원',
 '충주',
 '제천',
 '단양',
 '영동',
 '보은',
 '옥천',
 '음성',
 '진천',
 '괴산',
 '증평',
 '천안 서북',
 '천안 동남',
 '공주',
 '보령',
 '아산',
 '서산',
 '태안',
 '금산',
 '논산',
 '계룡',
 '당진',
 '부여',
 '서천',
 '홍성',
 '청양',
 '예산',
 '전주 완산',
 '전주 덕진',
 '군산',
 '익산',
 '정읍',
 '남원',
 '김제',
 '완주',
 '진안',
 '무주',
 '장수',
 '임실',
 '순창',
 '고창',
 '부안',
 '목포',
 '여수',
 '순천',
 '나주',
 '광양',
 '담양',
 '장성',
 '곡성',
 '구례',
 '고흥',
 '보성',
 '화순',
 '장흥',
 '강진',
 '완도',
 '해남',
 '진도',
 '영암',
 '무안',
 '영광',
 '함평',
 '신안',
 '포항 북구',
 '포항 남구',
 '울릉',
 '경주',
 '김천',
 '안동',
 '구미',
 '영주',
 '영천',
 '상주',
 '문경',
 '예천',
 '경산',
 '청도',
 '고령',
 '성주',
 '칠곡',
 '군위',
 '의성',
 '청송',
 '영양',
 '영덕',
 '봉화',
 '울진',
 '창원 의창',
 '창원 성산',
 '창원 마산합포',
 '창원 마산회원',
 '창원 진해',
 '진주',
 '통영',
 '고성',
 '사천',
 '김해',
 '밀양',
 '거제',
 '의령',
 '함안',
 '창녕',
 '양산',
 '하동',
 '남해',
 '함양',
 '산청',
 '거창',
 '합천',
 '제주',
 '서귀포']

In [114]:
election_result['ID'] = ID_candi
election_result.head(10)

    광역시도    시군       pop      moon     hong      ahn      ID
0  서울특별시   종로구  102566.0   42512.0  22325.0  22313.0   서울 종로
1  서울특별시    중구   82852.0   34062.0  17901.0  19372.0   서울 중구
2  서울특별시   용산구  148157.0   58081.0  35230.0  32109.0   서울 용산
3  서울특별시   성동구  203175.0   86686.0  40566.0  45674.0   서울 성동
4  서울특별시   광진구  240030.0  105512.0  46368.0  52824.0   서울 광진
5  서울특별시  동대문구  236092.0   98958.0  51631.0  53359.0  서울 동대문
6  서울특별시   중랑구  265706.0  111450.0  56545.0  62778.0   서울 중랑
7  서울특별시   성북구  295866.0  129263.0  57584.0  66518.0   서울 성북
8  서울특별시   강북구  210614.0   89645.0  42268.0  51669.0   서울 강북
9  서울특별시   도봉구  229233.0   94898.0  47461.0  55600.0   서울 도봉

In [115]:
election_result[['rate_moon', 'rate_hong', 'rate_ahn']] = \
    election_result[['moon', 'hong', 'ahn']].div(election_result['pop'], axis=0)

election_result[['rate_moon', 'rate_hong', 'rate_ahn']] *= 100
election_result.head()

,광역시도,시군,pop,moon,hong,ahn,ID,rate_moon,rate_hong,rate_ahn
0,서울특별시,종로구,102566.0,42512.0,22325.0,22313.0,서울 종로,41.448433,21.766472,21.754773
1,서울특별시,중구,82852.0,34062.0,17901.0,19372.0,서울 중구,41.111862,21.605996,23.381451
2,서울특별시,용산구,148157.0,58081.0,35230.0,32109.0,서울 용산,39.202333,23.778829,21.672280
3,서울특별시,성동구,203175.0,86686.0,40566.0,45674.0,서울 성동,42.665682,19.966039,22.480128
4,서울특별시,광진구,240030.0,105512.0,46368.0,52824.0,서울 광진,43.957839,19.317585,22.007249

In [117]:
election_result.sort_values(['rate_moon'], ascending=[False]).head(10)

,광역시도,시군,pop,moon,hong,ahn,ID,rate_moon,rate_hong,rate_ahn
182,전라남도,순천시,181451.0,122595.0,4525.0,40429.0,순천,67.563695,2.493786,22.280946
166,전라북도,전주시덕진구,187921.0,125375.0,5183.0,40188.0,전주 덕진,66.716865,2.758074,21.385582
165,전라북도,전주시완산구,236383.0,157637.0,7003.0,50506.0,전주 완산,66.687114,2.962565,21.366173
175,전라북도,장수군,16079.0,10714.0,717.0,3353.0,장수,66.633497,4.459233,20.853287
184,전라남도,광양시,96384.0,63544.0,4100.0,20080.0,광양,65.927955,4.253818,20.833333
173,전라북도,진안군,18107.0,11918.0,819.0,3904.0,진안,65.819849,4.523113,21.560722
172,전라북도,완주군,62470.0,41057.0,2107.0,13897.0,완주,65.722747,3.372819,22.245878
168,전라북도,익산시,192208.0,123422.0,6470.0,45737.0,익산,64.212728,3.366145,23.795576
170,전라북도,남원시,55371.0,35539.0,1939.0,13854.0,남원,64.183417,3.501833,25.020317
63,광주광역시,광산구,248209.0,159119.0,3630.0,65402.0,광주 광산,64.106862,1.462477,26.349568

In [118]:
election_result.sort_values(['rate_hong'], ascending=[False]).head(10)

,광역시도,시군,pop,moon,hong,ahn,ID,rate_moon,rate_hong,rate_ahn
219,경상북도,군위군,17627.0,2251.0,11651.0,1939.0,군위,12.770182,66.097464,11.000170
220,경상북도,의성군,37855.0,5365.0,23790.0,4767.0,의성,14.172500,62.845067,12.592788
223,경상북도,영덕군,26125.0,3786.0,16314.0,3231.0,영덕,14.491866,62.445933,12.367464
247,경상남도,합천군,33021.0,7143.0,19699.0,3077.0,합천,21.631689,59.655976,9.318313
216,경상북도,고령군,22396.0,3754.0,13248.0,2600.0,고령,16.761922,59.153420,11.609216
213,경상북도,예천군,32124.0,5261.0,18863.0,4427.0,예천,16.377163,58.719338,13.780974
215,경상북도,청도군,30398.0,5323.0,17678.0,3654.0,청도,17.511020,58.155142,12.020528
221,경상북도,청송군,18418.0,3218.0,10669.0,2387.0,청송,17.472038,57.927028,12.960148
240,경상남도,창녕군,42878.0,10310.0,24464.0,3877.0,창녕,24.044965,57.054900,9.041933
212,경상북도,문경시,49113.0,8616.0,27832.0,6905.0,문경,17.543217,56.669314,14.059414

In [119]:
election_result.sort_values(['rate_ahn'], ascending=[False]).head(10)

,광역시도,시군,pop,moon,hong,ahn,ID,rate_moon,rate_hong,rate_ahn
196,전라남도,진도군,21189.0,10392.0,511.0,8855.0,진도,49.044315,2.411629,41.790552
201,전라남도,신안군,28950.0,14370.0,713.0,12000.0,신안,49.637306,2.462867,41.450777
193,전라남도,강진군,25175.0,12476.0,753.0,10152.0,강진,49.557100,2.991063,40.325720
195,전라남도,해남군,48351.0,25901.0,1158.0,18157.0,해남,53.568696,2.394987,37.552481
197,전라남도,영암군,36402.0,18999.0,825.0,13610.0,영암,52.192187,2.266359,37.388056
180,전라남도,목포시,145476.0,77896.0,2584.0,53303.0,목포,53.545602,1.776238,36.640408
59,광주광역시,동구,66287.0,37053.0,1308.0,23438.0,광주 동구,55.897838,1.973238,35.358366
192,전라남도,장흥군,27149.0,14821.0,636.0,9593.0,장흥,54.591329,2.342628,35.334635
190,전라남도,보성군,29967.0,16666.0,732.0,10514.0,보성,55.614509,2.442687,35.085260
198,전라남도,무안군,52516.0,29516.0,983.0,18052.0,무안,56.203824,1.871810,34.374286

In [124]:
draw_korea = pd.read_csv("../data/05. draw_korea.csv", encoding="utf-8", index_col=0)
draw_korea.head()

   y   x      ID
0  0   7      철원
1  0   8      화천
2  0   9      양구
3  0  10  고성(강원)
4  1   3      양주

In [57]:
import re

def get_num(tmp):
    return float(re.split('\(', tmp)[0].replace(',',''))

In [58]:
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

wait = WebDriverWait(driver, 10)

def move_sido(name):
    element = driver.find_element_by_id("cityCode")
    element.send_keys(name)
    make_xpath = """//*[@id="searchBtn"]"""
    wait.until(EC.element_to_be_clickable((By.XPATH,make_xpath)))
    driver.find_element_by_xpath(make_xpath).click()

In [59]:
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

wait = WebDriverWait(driver, 10)

def move_sido(name):
    element = driver.find_element_by_id("cityCode")
    element.send_keys(name)
    make_xpath = """//*[@id="searchBtn"]"""
    wait.until(EC.element_to_be_clickable((By.XPATH,make_xpath)))
    driver.find_element_by_xpath(make_xpath).click()

In [60]:
election_result_raw = {'광역시도' : [],
                       '시군' : [],
                       'pop' : [],
                       'moon' : [],
                       'hong' : [],    
                       'ahn' : [] }

In [61]:
from bs4 import BeautifulSoup

for each_sido in sido_names_values:
    move_sido(each_sido)
    
    html = driver.page_source
    soup = BeautifulSoup(html, 'html.parser')
    table = soup.find('table')
    
    df = pd.read_html(str(table))
    
    append_data(df, each_sido, election_result_raw)

TypeError: expected string or bytes-like object

In [ ]:
sido_names_values